<!DOCTYPE html>
<html>
    <head>
        <title>Book Boxes</title>
        <link rel="stylesheet" type="text/css" href="style/main.css">

    </head>
    <body>
        <div><p>
            The Pickwick Papers (The Posthumous Papers of the Pickwick Club; monthly serial, April 1836 to November 1837). Novel.
          </p></div>
          <div><p>
            Oliver Twist (The Adventures of Oliver Twist; monthly serial in Bentley's Miscellany, February 1837 to April 1839). Novel.
          </p></div>
          <div><p>
            Nicholas Nickleby (The Life and Adventures of Nicholas Nickleby; monthly serial, April 1838 to October 1839). Novel.
          </p></div>
          <div><p>
            The Old Curiosity Shop (weekly serial in Master Humphrey's Clock, April 1840 to November 1841). Novel.
          </p></div>
          <div><p>
            Barnaby Rudge (Barnaby Rudge: A Tale of the Riots of Eighty; weekly serial in Master Humphrey's Clock, February to November 1841). Novel.
          </p></div>
          <div><p>
            Martin Chuzzlewit (The Life and Adventures of Martin Chuzzlewit; monthly serial, January 1843 to July 1844). Novel.
          </p></div>
          <div><p>
            A Christmas Carol (A Christmas Carol in Prose: Being a Ghost-story of Christmas; 1843). Novella.
          </p></div>
          <div><p>
            The Chimes (The Chimes: A Goblin Story of Some Bells That Rang an Old Year Out and a New Year In; 1844). Novella.
          </p></div>
          <div><p>
            The Cricket on the Hearth (The Cricket on the Hearth: A Fairy Tale of Home; 1845). Novella.
          </p></div>
          <div><p>
            Dombey and Son (Dealings with the Firm of Dombey and Son: Wholesale, Retail and for Exportation; monthly serial, October 1846 to April 1848). Novel.
          </p></div>
          <div><p>
            The Battle of Life (The Battle of Life: A Love Story; 1846). Novella.
          </p></div>
          <div><p>
            The Haunted Man (The Haunted Man and the Ghost's Bargain: A Fancy for Christmas-time; 1848). Novella.
          </p></div>
          <div><p>
            David Copperfield (The Personal History, Adventures, Experience and Observation of David Copperfield …; monthly serial, May 1849 to November 1850). Novel.
          </p></div>
          <div><p>
            Bleak House (monthly serial, March 1852 to September 1853). Novel.
          </p></div>
          <div><p>
            Hard Times (Hard Times: For These Times; weekly serial in Household Words, 1 April 1854, to 12 August 1854). Novel.
          </p></div>
          <div><p>
            Little Dorrit (monthly serial, December 1855 to June 1857). Novel.
          </p></div>
    </body>
</html>